/* -----------------------------------------------------------------------------------

Product Image (Atom)

------------------------------------------------------------------------------------*/

.a-productImage__wrapper {
    text-align: center;
}

.a-productImage {
    height: 150px;
    margin: 0 auto 10px;
}
