/* -----------------------------------------------------------------------------------

Product Name (Atom)

------------------------------------------------------------------------------------*/

.a-productName--full {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.a-productName--short {
    font-size: 11px;
    text-align: left;
    color: #c1c1c1;
}